body {
  margin: 0;
  color: #82a5ca;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

#hero {
  background-image: url("images/galaxy.webp");
  background-size: cover;
  padding: 10px 0 350px 0;
}

#main-logo {
  width: 200px;
  padding-top: 40px;
}

#title {
  text-shadow: 0px 0px 4px black;
  padding: 30px 0 20px 0;
  font-size: 70px;
}

.btn {
  padding: 12px 24px;
  background: white;
  border: none;
  font-family: "Orbitron", sans-serif;
  color: #82a5ca;
  font-weight: bold;
  font-size: medium;
}

.underline {
  border-bottom: 4px solid white;
}
